q15.toml
config.toml
bin/
.tools/
.devenv/
.devenv*
.direnv/
.devcontainer.json
.pre-commit-config.yaml

*.log
systems/web/internal/assets/dist/*
!systems/web/internal/assets/dist/.gitkeep
systems/web/ui/node_modules/
deploy/compose/secrets/*
!deploy/compose/secrets/*.example
!deploy/compose/secrets/README.md
deploy/compose/auth/*
!deploy/compose/auth/*.example
