q15.toml
config.toml
bin/
.tools/
.devenv/
.devenv*
.direnv/
.devcontainer.json
.pre-commit-config.yaml

*.log
deploy/compose/secrets/*
!deploy/compose/secrets/*.example
!deploy/compose/secrets/README.md
